/* Reset CSS */
* {
	padding:0;
	margin:0;
	border:0;
}

html, body {
	/* positioning */
	width: 100%;
	height: 100%;
	display: table;
}

.nickname-container {
	/* positioning */
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	/* styling */
	font-family:'SolaimanLipi',sans-serif;
}

.nickname {
	font-size:100px;
}