@font-face {
    font-family: "SolaimanLipi";
    src: url("../fonts/SolaimanLipi_22-02-2012.ttf") format("opentype");   
        /* Make sure you defined the correct path, which is related to
            the location of your file `my_css.css` */ 
    }
