* {
	margin:0;
	padding:0;
	font-family:'SolaimanLipi','Mukti Narrow',Arial,sans-serif;
}

div {
	display:block;
}

html, body, .wrap {
	height:100%;
}

p {
	font-size:0.9em;
}

p.info {
	font-size:0.9em;
	text-align:center;
}

h6.stylish {
	border-bottom:1px solid #ccc;
	margin:10px auto 0;
	width:70%;
}

.wrap {
	width:100%;
}

.fullwidth {
	width:100%;
}

.halfwidth {
	width:48%;
}

.upper_logo {
	height:60px;
	position:absolute;
	top:0;
	width:100%;
	background:url('../images/top-tile.jpg') top left repeat-x;
	padding:15px 0;
}

.upper_logo h2 {
	text-align:center;
	color:#005083;
}

.maincontent {
	position:absolute;
	top:60px;
	bottom:20px;
	width:100%;
	overflow-y:auto;
}

.maincontent .inner {
	padding:10px;
}

.home_credits {
	padding:20px 0;
}

.disclaimer {
	color:#bbb;
	font-size:0.8em;
}

.footer {
	height:20px;
	width:100%;
	position:absolute;
	background:url('../images/bottom-tile.jpg') top left repeat-x;
	bottom:0;
}

.footer .inner {
	padding:3px;
	font-size:0.7em;
	text-align:center;
}

.bottom {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}

.bottom .inner {
	text-align:center;
	color:#aaa;
}

.buttongroup {
	border-top:1px solid #eee;
	margin:7px 0 0 0;
	padding:10px 0 0 0;
}

button {
	display:inline-block;
	padding:3px;
	background:#e7f4f9;
	border:1px solid #82b3c4;
	border-radius:5px;
	background: linear-gradient(#e9f4fa, #b6e8ff);
}

button.big {
	font-size:1.2em;
	margin:5px 0;
}

button .heading {
	font-size:1.2em;
	font-weight:bold;
}


h2.question {
	font-size:1.5em;
	margin:15px 0 10px;
	color:#111;
	text-align:center;
	height:30%;
}

button .answerbtn {
	font-size:1.2em;
}

button.gray {
	border-radius:20px;
	background:#eee;
	border:1px solid #999;
	padding:2px 10px 3px;
	margin:0 auto;
	color:#666;
	width:7em;
}

.leftans, .rightans {
	width:40%;
	display:inline-block;
	padding:10px;
}

.ansinfo {
	font-size:1em;
}

.leftans .ansinfo, .rightans .ansinfo {
	padding:3px;
	color:#999;
}

.leftans {
	float:left;
}

.leftans .ansinfo {
	text-align:right;
}

.rightans {
	float:right;
}

.rightans .ansinfo {
	text-align:left;
}

.identity li, .career li {
	margin-left:20px;
	padding:3px 0;
}

.resultholder {
	padding:10px 10px;
}

.resulttype .letter {
	background:#d5ecf4;
	color:#2182a4;
	border-radius:5px;
	border:1px solid #aecfda;
	width:25px;
	padding:5px;
	margin:5px 5px 5px 0;
	font-family:sans;
	font-size:22px;
	text-align:center;
	display:inline-block;
}

.resulttype .meaning {
	width:100px;
}

.floatleft {
	float:left;
}

.floatright {
	float:right;
}

.resultheader {
	text-align:center;
	margin:5px 0 3px;
	font-size:1.2em;
}

.result_page .resulttype {
	display:inline-block;
	width:160px;
}

.result_page .meaning {
	margin-right:5px;
	display:inline-block;
}
